.content {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    h1 {
        margin-bottom: 2rem;
        font-weight: 500;
    }
}

@media screen and(min-width: 768px) {

    .heightLess {
        height: 100vh;
    }

    .heightMore {
        height: 100%;
    }
    
    .projectsContainer {
        max-width: 1600px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
}


.more {
    width: 110px;
    margin: 0 auto;
    padding: 7px 5px;
    border: 1px solid #6f6f6f;
    background: none;
    color: #6f6f6f;
    font-size: 20px;
    transition: .3s all ease;
    cursor: pointer;
}

@media screen and(min-width: 760px) {
    .more:hover {
        color: whitesmoke;
        background-color: #827397b8;
    }
}



.dark {
    .container {
        background-color: #101010;

        h1 {
            color: whitesmoke;
        }
    }
}

.light {
    .container {
        background-color: rgb(241, 240, 240);
        h1 {
            color: #5e5e5e;
        }

        p{
            color: gray;
        }
    }
}