.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    h2 {
        padding: 1rem 2rem;
        color: #827397;
        font-size: 1.7rem;
    }

    @media screen and (min-width: 368px) {
        h2 {
            font-size: 2rem;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0 1rem;

        .group {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;


            label {
                color: whitesmoke;
            }

            input {
                border: none;
                border-radius: 4px;
                font-size: 20px;
                padding: 10px 5px;
            }

            textarea {
                min-height: 150px;
                max-height: 300px;
                border: none;
                border-radius: 4px;
                font-size: 20px;
                padding: 5px;
            }
        }

        button {
            padding: 15px 30px;
            font-size: 20px;
            font-weight: 700;
            border: none;
            background-color: #827397;
            color: white;
            cursor: pointer;
            transition: .3s all ease;
        }

        button:hover {
            background-color: #827397b4;
        }

    }

    .contact {

        h3 {
            font-size: 15px;
            font-weight: 400;
        }

        h4 {
            margin-top: 2rem;
            font-size: 15px;
            font-weight: 400;
            text-align: center;
            color: whitesmoke;
        }


        .socialMediaBox {
            width: 220px;
            margin: 1rem auto 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 20px;

            .socialBox {
                display: flex;
                gap: 20px;
                align-items: center;
                justify-content: center;
            }

            .resumeBox {
                display: flex;
                gap: 20px;

                a {
                    width: 90px;
                }
            }

            a{
                width: 100%;
                font-size: 40px;
                text-decoration: none;
                    p{
                        font-size: 12px;
                    }                
            }
        }
    }

    .upArrow {
       position: absolute;
       bottom: 1%;
       right: 1%;
       padding: .3rem .7rem;
       border-radius: 100%;
       width: 25px;

       i {
        font-size: 30px;
       }
    }

    @media screen and (min-width: 360px) {
        .upArrow {
            bottom: 2%;
            right: 5%;
            padding: .3rem .7rem;
        }
    }

    @media screen and (min-width: 768px) {
        .upArrow {
            bottom: 5%;
            right: 10%;
        }
    }
}

.dark {
        background-color: rgb(14, 13, 13);

        .container{
            .contact {
                h3, h4 {
                    color: whitesmoke;
                    font-weight: 300;
                }
                .socialMediaBox {
                    a {
                        color: whitesmoke;
                    }
                }
            }

            .upArrow {
                background-color: rgba(241, 240, 240, 0.055);
                i {
                    color: rgba(138, 138, 138, 0.315);
                }
            }
        }
}

.light {
        background-color: whitesmoke;

        .container{
            .contact {
                h3, h4 {
                    color: gray;
                }
                .socialMediaBox {
                    a {
                        color: rgb(89, 89, 89);
                    }
                }
            }

            form {
                label {
                    color: gray;
                }
                input{
                    border: 1px solid rgb(238, 237, 237);
                    color: gray;
                }
                
                input:focus{
                    outline: 1px solid #827397;
                }

                textarea {
                    border: 1px solid rgb(238, 237, 237);
                    color: gray;
                }

                textarea:focus{
                    outline: 1px solid #827397;
                }
            }
            .upArrow {
                background-color: #e4e4e4;
                i {
                    color: rgb(150, 149, 149);
                }
            }
    }
}

@media screen and(min-width: 768px) {
    .formContainer {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }
}