.article {
    width: 100%;
    max-width: 450px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-bottom: 20px;
    border-bottom: #6f6f6f35 1px solid;

    .container {

        padding: 0 20px;

        a {
            text-decoration: none;
        }

        img {
            width: 100%;
        }


        p {
            margin-top: 10px;
            color: rgb(78, 101, 141);
            height: 120px;
        }

        h3 {
            font-size: 22px;
            color: #827397;
        }

        h4 {
            font-size: 18px;
            color: #6f6f6f;
            text-decoration: overline;
        }

        span {
            color: white;
        }

        h3,
        span {
            text-align: center;
        }
    }

    .stack {
        width: 100%;
        margin: 20px 0;
        padding: 5px 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
        gap: 15px;
        background-color: rgba(133, 133, 133, 0.11);

        img {
            width: 40px;
            height: 40px;
        }
    }

    @media screen and (min-width: 768px) {
        .stack {
            display: flex;
            gap: 20px;
        }
    }


    .info {
        display: flex;
        justify-content: center;
        font-size: 30px;

        .icon {
            a{
                text-decoration: none;
            }
        }
    }

    .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        p {
            font-size: 11px;
        }
    }

    .dark {
        .icon {
            color: whitesmoke;
            text-decoration: none;
        }
    }

    .light {
        .icon {
            color: rgb(82, 82, 82);
            text-decoration: none;
        }
    }
}