@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;400;500&display=swap');

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*OTHER COLORS*/
  /*3E3636 - D72323 - F5EDED*/
}

#dark {
  p {
    color: whitesmoke;
  }
}

#light {
  p {
    color: gray;
  }
}

.app-header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#dark {
  .app-header {
    background-color: #0d0d0d;
  }
}

#light {
  .app-header {
    background-color: whitesmoke;
  }
}

h1,
h2,
h3,
h4,
p,
a {
  margin: 3px 0 3px 0;
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  color: white;
  font-weight: 400;
  font-size: 30px;
}

p {
  font-size: 20px;
}


.hidden {
  opacity: 0;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
}

.nav-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
                 
.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }
}

.nav-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-menu {
    display: flex;
    gap: 30px;

    li a {
      text-decoration: none;
      transition: all ease .3s;
    }
    }

    #light{
      li a {
        color: rgb(67, 67, 67);
      }
  
      li a:hover {
        color: rgb(131, 128, 128);
      }
    } 

    #dark {
      li a {
        color: whitesmoke;
      }
  
      li a:hover {
        color: gray;
      }
    } 
  }


.menu-list {
  padding: 2.7rem 1rem;
}

.menu-list li {
  color: white;
  margin-bottom: 1.3rem;
  font-size: 18px;
}

.icon {
  font-size: 32px;
}

#dark {
  .icon {
    color: white;
  }
}

#light {
  .icon {
    color: #080808;
  }
}

code {
  font-family: 'Roboto Mono', monospace;
}

.projects-section {
  position: relative;
}